/* -------------------------------------------
    AutomatorWP Icon
   ------------------------------------------- */

@font-face {
    font-family: 'AutomatorWP';
    src:  url('../fonts/automatorwp.eot?6ncb0e');
    src:  url('../fonts/automatorwp.eot?6ncb0e#iefix') format('embedded-opentype'),
    url('../fonts/automatorwp.ttf?6ncb0e') format('truetype'),
    url('../fonts/automatorwp.woff?6ncb0e') format('woff'),
    url('../fonts/automatorwp.svg?6ncb0e#automatorwp') format('svg');
    font-weight: normal;
    font-style: normal;
}

.dashicons-automatorwp, .dashicons-automatorwp:before {
    font-family: 'AutomatorWP' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e900";
}

/* -------------------------------------------
    Automations Edit Screen
   ------------------------------------------- */

.admin_page_edit_automatorwp_automations .postbox .inside {
    overflow: inherit !important;
}

/* Make title appear like WordPress title */
#automatorwp-automations-title.postbox {
    border: 0;
    box-shadow: none;
    background: transparent;
}

#automatorwp-automations-title .postbox-header,
#automatorwp-automations-title .handlediv,
#automatorwp-automations-title .hndle,
#automatorwp-automations-title .cmb-th {
    display: none;
}

#automatorwp-automations-title .inside {
    padding: 0;
    margin: 0;
}

#automatorwp-automations-title .cmb-td {
    width: 100%;
    max-width: 100% !important;
    padding: 0;
}

#automatorwp-automations-title .cmb-td input {
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: none;
    margin: 0 0 3px;
    background-color: #fff;
}

/* Side boxes */
#post-body.columns-2 #postbox-container-1 .automatorwp-box-form input:not([type="checkbox"]):not([type="radio"]),
#post-body.columns-2 #postbox-container-1 .automatorwp-box-form select,
#post-body.columns-2 #postbox-container-1 .automatorwp-box-form .automatorwp-select2,
#post-body.columns-2 #postbox-container-1 .automatorwp-box-form textarea {
    width: 100%;
}

#post-body.columns-2 #postbox-container-1 .automatorwp-box-form .automatorwp-select2 {
    width: 100% !important;
}

#post-body.columns-2 #postbox-container-1 .automatorwp-box-form .cmb-type-text-datetime-timestamp input.cmb2-datepicker {
    max-width: 145px;
}

#post-body.columns-2 #postbox-container-1 .automatorwp-box-form .cmb-type-text-datetime-timestamp input.cmb2-timepicker {
    display: inline;
    max-width: 100px;
}

#post-body.columns-2 #postbox-container-1 .automatorwp-box-form .cmb-th,
#post-body.columns-2 #postbox-container-1 .automatorwp-box-form .cmb-td {
    padding: 0;
}

#post-body.columns-2 #postbox-container-1 .automatorwp-box-form .cmb-td:not(.cmb-remove-row),
#post-body.columns-2 #postbox-container-1 .automatorwp-box-form .cmb-th,
#post-body.columns-2 #postbox-container-1 .automatorwp-box-form .cmb-td:not(.cmb-remove-row),
#post-body.columns-2 #postbox-container-1 .automatorwp-box-form .cmb-th + .cmb-td {
    padding: 0;
}

#post-body.columns-2 #postbox-container-1 .cmb-row:not(:last-of-type) {
    padding-bottom: 0;
}

#post-body.columns-2 #postbox-container-1 .automatorwp-box-form .cmb-td .cmb2-metabox-description {
    padding-bottom: 0;
}

/* Publishing actions */
#automatorwp-automations-save-changes #major-publishing-actions {
    margin: 20px -12px -12px -12px;
}

#automatorwp-automations-save-changes #major-publishing-actions .automatorwp-save-and-activate {
    float: right;
    margin-bottom: 6px;
}

#automatorwp-automations-save-changes #major-publishing-actions .automatorwp-save-and-activate + #publishing-action {
    float: left;
}

#automatorwp-automations-save-changes .submitdelete {
    color: #a00;
}

/* Automation type dialog */
.automatorwp-automation-type-dialog .automatorwp-automation-types {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

.automatorwp-automation-type-dialog .automatorwp-automation-types .automatorwp-automation-type {
    position: relative;
    width: 42%;
    text-align: center;
    padding: 1em;
    border: 2px solid #efefef;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 12px;
}

.automatorwp-automation-type-dialog .automatorwp-automation-types .automatorwp-automation-type:hover {
    background: rgba(0, 124, 186, 0.1);
    border-color: #88ccef;
}

.automatorwp-automation-type-dialog .automatorwp-automation-types .automatorwp-automation-type.automatorwp-automation-type-selected {
    border-color: #008fd6;
    background: rgba(0, 124, 186, 0.2);
}

.automatorwp-automation-type-dialog .automatorwp-automation-types .automatorwp-automation-type img {
    width: 40%;
    margin-bottom: 6px;
}

.automatorwp-automation-type-dialog .automatorwp-automation-types .automatorwp-automation-type strong {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.automatorwp-automation-type-dialog .automatorwp-automation-type-dialog-bottom:after {
    content: '';
    display: block;
    clear: both;
}

.automatorwp-automation-type-dialog .automatorwp-automation-type-dialog-buttons {
    float: right;
}

.automatorwp-automation-type-dialog .automatorwp-automation-type-dialog-buttons .automatorwp-automation-type-dialog-cancel {
    line-height: 32px;
}

/* Triggers and actions box */
#automatorwp_triggers.postbox,
#automatorwp_actions.postbox {
    border: none;
    background: transparent;
    box-shadow: none;
}

#automatorwp_triggers.postbox .postbox-header,
#automatorwp_triggers.postbox .handlediv,
#automatorwp_triggers.postbox .hndle,
#automatorwp_actions.postbox .postbox-header,
#automatorwp_actions.postbox .handlediv,
#automatorwp_actions.postbox .hndle {
    display: none;
}

#automatorwp_triggers.postbox .inside,
#automatorwp_actions.postbox .inside {
    padding: 0;
    margin: 0;
}

.automatorwp-title {
    font-size: 23px;
}

.automatorwp-subtitle {
    font-size: 16px;
    margin-bottom: 1em;
    color: #72777c;
}

/* Sequential field */
.automatorwp-sequential-field {
    float: left;
    width: 100%;
    padding-bottom: 1.2em;
    font-size: 14px;
}

.automatorwp-sequential-field > label {
    float: left;
    font-weight: 500;
    padding-right: 8px;
}

.automatorwp-sequential-field .cmb-td {
    float: left;
    padding: 0;
}

/* Integration icon */
.automatorwp-integration-icon {
    background-image: url('../img/integration-default.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    margin: 0 auto;
    max-width: 55px;
    max-height: 55px;
    height: 55px;
}

.automatorwp-integration-icon img {
    width: 100%;
    border-radius: 8px;
}

.automatorwp-integration-icon + .automatorwp-integration-label {
    font-size: 14px;
    margin-top: .8em;
}

/* Select integration + trigger or action */
.automatorwp-select-integration-label,
.automatorwp-select-trigger-label,
.automatorwp-select-action-label {
    font-size: 16px;
    margin-bottom: 0.5em;
}

.automatorwp-integrations {
    display: flex;
    flex-wrap: wrap;
}

.automatorwp-integrations .automatorwp-integration {
    position: relative;
    width: 150px;
    text-align: center;
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
}

.automatorwp-integrations .automatorwp-integration:hover {
    background: rgba(0, 124, 186, 0.1);
}

.automatorwp-integration-choices-container {
    position: relative;
}

.automatorwp-integration-choices-container .automatorwp-integration-choices + .automatorwp-select2 {
    position: absolute !important;
    visibility: hidden;
}

.automatorwp-integration-choices-container .automatorwp-select2-dropdown-container .select2-dropdown {
    border: none;
}

.automatorwp-integration-choices-container .automatorwp-select2-dropdown-container .select2-search--dropdown {
    padding: 0;
}

.automatorwp-integration-choices-container .automatorwp-select2-dropdown-container .select2-search__field {
    width: 100% !important;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

.automatorwp-integration-choices-container .automatorwp-select2-dropdown-container .select2-results {
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    font-size: 14px;
    margin-top: -1px;
}

.automatorwp-integration-choices-container .select2-container--disabled + .automatorwp-select2-dropdown-container .select2-search__field,
.automatorwp-integration-choices-container .select2-container--disabled + .automatorwp-select2-dropdown-container .select2-results__option:not(.select2-results__option--highlighted) {
    background: #f5f5f5;
}

/* Inline select2 dropdown */
.automatorwp-select2-dropdown-container {
    margin-bottom: 1em;
}

.automatorwp-select2-dropdown-container .select2-container {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

.automatorwp-select2-dropdown-container .select2-dropdown {
    position: relative !important;
}

/* Pro integrations */
.automatorwp-integration-pro-badge {
    position: absolute;
    top: 4px;
    right: 40px;
    z-index: 1;
    background: #46b450;
    color: #fff;
    padding: 3px 5px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 11px;
}

/* Pro trigger and actions options */
.automatorwp-select2-dropdown-container .select2-results__option[aria-disabled="true"] {
    color: #666 !important;
    background: #eee;
}
.automatorwp-select2-dropdown-container .select2-results__option[aria-disabled="true"]:before {
    content: 'PRO';
    display: inline-block;
    background: #46b450;
    color: #fff;
    padding: 3px 5px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 11px;
    margin-right: 4px;
}

/* Automation items */
.automatorwp-automation-item {
    display: flex;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background: #fff;
    padding: 1em 1em 1em 0;
    margin-bottom: 1em;

    cursor: grab; /* To notice that items are draggable */
}

.automatorwp-automation-item .button {
    font-size: 14px;
}

.automatorwp-automation-item .button + .button {
    margin-left: 2px;
}

.automatorwp-automation-item-details {
    text-align: center;
    width: 80px;
}

.automatorwp-automation-item-content {
    width: calc( 100% - 80px );
}

.automatorwp-automation-item-content > .automatorwp-integration-label {
    font-weight: 500;
    color: #72777c;
    border: 1px solid #ccd0d4;
    border-radius: 50px;
    display: inline-block;
    padding: 0 0.6em;
    margin-bottom: 0.5em;
}

.automatorwp-automation-item-position {
    float: left;
    clear: both;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    margin-right: 4px;
}

.automatorwp-actions .automatorwp-automation-item-position {
    display: none;
}

.automatorwp-automation-item-label {
    font-size: 16px;
    line-height: 32px;
}

.automatorwp-no-grab {
    cursor: auto; /* Disable cursor grab  */
}

/* Automation item actions */
.automatorwp-automation-item-actions {
    float: right;
    margin-top: -4px;
    margin-right: -4px;
}

.automatorwp-automation-item-actions .automatorwp-automation-item-action {
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

.automatorwp-automation-item-actions .automatorwp-automation-item-action .dashicons {
    line-height: 25px;
}

.automatorwp-automation-item-actions .automatorwp-automation-item-action-delete {
    color: #e15151;
}

/* Automation item options */

.button.automatorwp-button,
.automatorwp-option.button:not(.button-primary) {
    border: none;
    color: #444;
    background: #e5e5e5;
}

.button.automatorwp-button:hover,
.automatorwp-option.button:not(.button-primary):hover {
    background: #ddd;
    color: #444;
}

.button.automatorwp-button:focus,
.button.automatorwp-button:active,
.automatorwp-option.button:not(.button-primary):focus,
.automatorwp-option.button:not(.button-primary):active {
    background: #cfcfcf;
    color: #444;
}

/* Option form */
.automatorwp-option-form-container {
    background: #f5f5f5;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    padding: 1em 1.5em 1.5em;
    margin-top: 1em;
    cursor: auto; /* Disable cursor grab  */
}

.automatorwp-option-form .cmb-th {
    width: 100%;
    padding: 0;
}

.automatorwp-option-form .cmb-td {
    width: 100%;
    padding: 0 0 1em 0;
}

.automatorwp-option-form .mce-container iframe {
    min-height: 200px;
}

/* Automation missing plugin item */
.automatorwp-automation-missing-integration-item  .automatorwp-automation-item-label {
    opacity: 0.6;
}

.automatorwp-automation-missing-integration-item  .automatorwp-notice-warning {
    margin: 0;
}

/* Recommended integrations */
.automatorwp-recommended-integrations {
    margin-top: 8px;
}

.automatorwp-recommended-integrations-label {
    font-size: 16px;
}

.automatorwp-recommended-integrations-label span {
    color: #72777c;
}

.automatorwp-recommended-integrations .automatorwp-integrations {
    margin-top: 8px;
}

.automatorwp-recommended-integrations .automatorwp-integration {
    text-decoration: none;
    color: #444;
}

.automatorwp-recommended-integrations .automatorwp-integration-triggers-and-actions {
    color: #72777c;
}

/* More integrations */
.automatorwp-more-integrations {
    font-size: 16px;
    margin-top: 8px;
}

.automatorwp-more-integrations span {
    color: #72777c;
}

/* -------------------------------------------
    Anonymous Automations
   ------------------------------------------- */

/* Anonymous automations edit screen */
body.edit-anonymous-automation .automatorwp-sequential-field,
body.edit-anonymous-automation .automatorwp-add-trigger,
body.edit-anonymous-automation #cmb-field-js-controls-times_per_user-before,
body.edit-anonymous-automation .cmb2-id-times-per-user,
body.edit-anonymous-automation #cmb-field-js-controls-times_per_user-after {
    display: none;
}

body:not(.edit-anonymous-automation) .automatorwp-automation-ui-anonymous-notice {
    display: none;
}

.automatorwp-automation-ui-anonymous-notice {
    font-size: 16px;
    color: #72777c;
}

.automatorwp-automation-ui-anonymous-notice .dashicons {
    color: #007cba;
    vertical-align: text-bottom;
    margin-right: 2px;
}

/* Anonymous automations user action */
.automatorwp-action-automatorwp-anonymous-user .automatorwp-integration-label {
    display: none;
}

.automatorwp-action-automatorwp-anonymous-user .automatorwp-anonymous-user-label {
    line-height: 1;
    margin-bottom: 8px;
}

.automatorwp-action-automatorwp-anonymous-user .automatorwp-anonymous-user-choice {
    display: inline-block;
    width: 100px;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.automatorwp-action-automatorwp-anonymous-user .automatorwp-anonymous-user-choice + .automatorwp-anonymous-user-choice {
    margin-left: 6px;
}

.automatorwp-action-automatorwp-anonymous-user .automatorwp-anonymous-user-choice:hover {
    background: rgba(0, 124, 186, 0.1);
    border-color: #88ccef;
}

.automatorwp-action-automatorwp-anonymous-user .automatorwp-anonymous-user-choice img {
    display: block;
    width: 60%;
    margin: 0 auto 8px;
}

/* Anonymous automations user action form */
.automatorwp-action-automatorwp-anonymous-user .cmb2-id-run-actions-on {
    display: none;
}

.automatorwp-action-automatorwp-anonymous-user .cmb2-id-search-field,
.automatorwp-action-automatorwp-anonymous-user .cmb2-id-search-field-value {
    width: 49%;
    float: left;
}

.automatorwp-action-automatorwp-anonymous-user .cmb2-id-search-field-value {
    margin-left: 2% !important;
}

.automatorwp-anonymous-user-resume {
    background: rgb(245, 245, 245);
    border: 1px solid rgb(204, 208, 212);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px;
    padding: 1em;
    margin-top: 1em;
}

.automatorwp-anonymous-user-resume div {
    margin-bottom: 4px;
}

.automatorwp-anonymous-user-resume img {
    width: 30px;
    vertical-align: bottom;
    margin-right: 4px;
}

.automatorwp-anonymous-user-resume strong {
    border: none;
    background: #404459;
    color: #fff;
    line-height: 2.15384615;
    min-height: 32px;
    margin: 0;
    padding: 0 10px;
    display: inline-block;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

/* -------------------------------------------
    Forms
   ------------------------------------------- */
.automatorwp-form input:not([type="button"]):not([type="submit"]),
.automatorwp-form textarea:not(.wp-editor-area),
.automatorwp-form select,
.automatorwp-form .automatorwp-select2 .select2-selection--single,
.automatorwp-select2 .select2-search--dropdown .select2-search__field {
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    padding: 4px 12px;
}

.automatorwp-form select {
    margin-top: 0 !important;
}

.automatorwp-select2 .select2-search--dropdown .select2-search__field {
    border: 1px solid #ccd0d4 !important;
}

.automatorwp-form input:not([type="button"]):not([type="submit"]):hover,
.automatorwp-form textarea:not(.wp-editor-area):hover,
.automatorwp-form select:hover,
.automatorwp-form .automatorwp-select2 .select2-selection--single:hover,
.automatorwp-select2 .select2-search--dropdown .select2-search__field:hover {
    border-color: #bbc;
}

.automatorwp-form input:not([type="button"]):not([type="submit"]):focus,
.automatorwp-form select:focus,
.automatorwp-form textarea:not(.wp-editor-area):focus,
.automatorwp-form .automatorwp-select2 .select2-selection--single:focus,
.automatorwp-select2 .select2-search--dropdown .select2-search__field:focus {
    border-color: #aab;
}

.automatorwp-form input:disabled, .automatorwp-form input.disabled,
.automatorwp-form select:disabled, .automatorwp-form select.disabled,
.automatorwp-form textarea:not(.wp-editor-area):disabled, .automatorwp-form textarea.disabled:not(.wp-editor-area) {
    background: #f5f5f5;
}

.automatorwp-form .cmb-th .cmb-group-name {
    padding: 5px 0 !important;
    font-weight: 500;
}

.automatorwp-form .cmb-th .cmb-group-name + .cmb2-metabox-description {
    font-weight: 400;
    padding: 0 !important;
}

.automatorwp-automation-item input[type="text"],
.automatorwp-automation-item input[type="number"],
.automatorwp-automation-item input[type="email"],
.automatorwp-automation-item select,
.automatorwp-automation-item .automatorwp-select2,
.automatorwp-automation-item textarea {
    width: 100% !important;
}

.automatorwp-automation-item .cmb2-switch .cmb-td {
    margin-top: 5px;
}

/* Repeatable */
.automatorwp-form .cmb-repeat-row .cmb-td {
    width: calc( 100% - 25px );
}

.automatorwp-form .cmb-repeat-row .cmb-remove-row {
    position: absolute !important;
    display: block !important;
    width: 24px !important;
}

.automatorwp-form .cmb-repeat-row .cmb-remove-row .cmb-remove-row-button {
    border: none;
    padding: 12px 12px;
    background: transparent;
    color: #72777c;
}

.automatorwp-form .cmb-repeat-row .cmb-remove-row .cmb-remove-row-button:hover {
    color: #444;
}

.automatorwp-form .cmb-repeat-row .cmb-remove-row .cmb-remove-row-button:before {
    line-height: 44px;
}

/* Groups */
.cmb-type-group .cmb-group-description,
.cmb-type-group .cmb-row:not(.cmb-repeatable-grouping) {
    border-bottom: 0 !important;
}

.cmb-type-group .cmb-group-description .cmb-th {
    padding: 0 !important;
}

.cmb-type-group .cmb-repeatable-grouping {
    border: 1px solid #ccd0d4 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

/* -------------------------------------------
    Select2
   ------------------------------------------- */
.automatorwp-select2 .select2-selection--single {
    height: auto !important;
}

.automatorwp-select2 .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
}

.automatorwp-select2 .select2-selection--single .select2-selection__arrow {
    height: 36px !important;
    width: 30px !important;
}

.automatorwp-select2 .select2-dropdown {
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.automatorwp-select2 .select2-results__option {
    padding: 10px;
    margin: 0;
    background: #f5f5f5;
}

.automatorwp-select2 .select2-results__option:not(:last-child) {
    border-bottom: 1px solid #ccd0d4;
}

.automatorwp-select2 .select2-results .select2-results__option .result-description {
    display: block;
    position: relative;
    color: #aaaaaa;
}

.automatorwp-select2 .select2-results .select2-results__option .result-description.align-right,
.automatorwp-select2 .select2-results .select2-results__option .result-description .align-right {
    float: right;
}

.automatorwp-select2 .select2-results__option--highlighted[aria-selected] .result-description {
    color: rgba(255,255,255,0.7);
}

/* -------------------------------------------
    Select2 Multiple
   ------------------------------------------- */
.automatorwp-select2 .select2-selection--multiple,
.automatorwp-select2.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ccd0d4 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.automatorwp-select2 .select2-search--inline {
    width: 100% !important;
    margin: 0;
}

.automatorwp-select2 .select2-search--inline .select2-search__field {
    width: 100% !important;
    margin: 4px 0 0 0;
}

.automatorwp-select2 .select2-selection--multiple .select2-selection__choice {
    background: #f5f5f5 !important;
    border: 1px solid #ccd0d4 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 2px !important;
    padding: 4px 8px !important;
}

.automatorwp-select2 .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 16px;
    margin-left: -2px;
}

.automatorwp-select2 .select2-selection--multiple .select2-selection__rendered {
    padding: 4px 8px !important;
}

/* -------------------------------------------
    Tags Selector
   ------------------------------------------- */
.automatorwp-automation-item.automatorwp-action .cmb-td {
    position: relative;
    z-index: 1;
}

.automatorwp-automation-item.automatorwp-action .cmb-td .cmb2-metabox-description {
    display: inline-block;
}

.automatorwp-automation-item.automatorwp-action input:not([type="button"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="search"]),
.automatorwp-automation-item.automatorwp-action textarea:not(.wp-editor-area) {
    width: calc( 100% - 38px ) !important;
    border-radius: 4px 0 0 4px;
}

.automatorwp-automation-item.automatorwp-action .wp-editor-wrap {
    width: calc( 100% - 44px );
    display: inline-block;
}

.automatorwp-automation-tag-selector {
    display: none;
}

.automatorwp-automation-tag-selector + .automatorwp-select2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    z-index: -1;
    outline: 0;
}

.automatorwp-automation-tag-selector + .automatorwp-select2:focus {
    outline: 0;
    border: none;
}

.automatorwp-automation-tag-selector + .automatorwp-select2 .select2-selection--single {
    border: none;
    box-shadow: none;
    background: transparent;
}

.automatorwp-automation-tag-selector + .automatorwp-select2 .select2-selection--single:focus {
    outline: 0;
    border: none;
}

.automatorwp-automation-tag-selector + .automatorwp-select2 .select2-selection__arrow {
    font-family: 'dashicons';
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    transition: color 0.1s ease-in;

    top: 0 !important;
    right: 0 !important;
    padding: 0 3px;
    border: 1px solid #ccd0d4;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    color: #72777c;
    background: #f3f5f6;
}

.cmb-type-wysiwyg .automatorwp-automation-tag-selector + .automatorwp-select2 .select2-selection__arrow {
    border-radius: 4px;
}

.cmb-type-wysiwyg .automatorwp-automation-tag-selector + .automatorwp-select2 .select2-selection__rendered {
    display: none;
}

.automatorwp-automation-tag-selector + .automatorwp-select2 .select2-selection__arrow:hover {
    border-color: #bbc;
    background: #f1f1f1;
}

.automatorwp-automation-tag-selector + .automatorwp-select2 .select2-selection__arrow:before {
    content: "\f206";
    display: inline-block;
    margin-top: 8px;
}

.automatorwp-automation-tag-selector + .automatorwp-select2 .select2-selection__arrow b {
    display: none;
}

.automatorwp-tags-select2 .select2-dropdown li[role="group"] > strong {
    cursor: pointer;
}

.automatorwp-tags-select2 .select2-dropdown li[role="group"] > strong img {
    display: inline-block;
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin-right: 8px;
}

.automatorwp-tags-select2 .select2-dropdown li[role="group"] > strong {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 12px;
    line-height: 24px;
    /* The SVG is arrow-down-alt2 from Dashicons. */
    background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 8px top 55%;
}

.automatorwp-tags-select2 .select2-dropdown li[role="group"]:last-child > strong {
    border-bottom: 0;
}

.automatorwp-tags-select2 .select2-dropdown li[role="group"] > strong .automatorwp-option {
    padding: 0px 8px !important;
    min-height: 26px !important;
    line-height: 22px !important;
}

.automatorwp-tags-select2 .select2-dropdown li[role="group"] > ul {
    display: none;
    background: #f5f5f5;
    font-size: 14px;
}

.automatorwp-tags-select2 .select2-dropdown li[role="group"] > ul li:first-child {
    border-top: 1px solid #ccd0d4;
}

.automatorwp-tags-select2 .select2-dropdown li[role="group"] > ul li {
    padding: 10px 12px;
}

.automatorwp-tags-select2 .select2-dropdown .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
    background: transparent;
}

.automatorwp-tags-select2 .select2-dropdown .select2-results > .select2-results__options {
    max-height: 250px;
}

.automatorwp-tags-select2 .select2-dropdown li[role="group"] > ul li strong {
    display: inline-block;
    min-width: 100px;
}

.automatorwp-tags-select2 .select2-dropdown li[role="group"] > ul li span {
    color: #999;
    margin-left: 10px;
    font-size: 13px;
}

.automatorwp-tags-select2 .select2-dropdown li[role="group"] > ul li.select2-results__option--highlighted span {
    color: rgba(255,255,255,0.7);
}

/* -------------------------------------------
    Selector Custom Input
   ------------------------------------------- */
.automatorwp-selector-custom-input .cmb-td {
    margin-left: 30px;
    width: calc(100% - 30px);
    margin-top: -4px;
}

.automatorwp-selector-custom-input .cmb-td:before {
    content: "\f474";
    transform: scaleX(-1);
    opacity: 0.7;
    position: absolute;
    top: 6px;
    left: -23px;

    font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in;
}

.automatorwp-selector-custom-input .cmb-td input {
    margin-top: -4px;
}

/* -------------------------------------------
    JS Controls
   ------------------------------------------- */

.automatorwp-form .cmb-field-js-controls-before + .cmb-row {
    background: #f5f5f5;
    border: 1px solid #ccd0d4 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border-bottom: 0 !important;
    padding: 8px 6px !important;
}

.automatorwp-form .cmb-field-js-controls-after {
    background: #f5f5f5;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin-top: 0;
    border-top: 0;
    padding: 4px 6px 8px;
}

/* -------------------------------------------
    Automations List
   ------------------------------------------- */

.automatorwp-automation-completions,
.automatorwp-automation-status {
    font-size: 12px;
    font-weight: 600;
    color: #444;
    background: #e5e5e5;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
}

.automatorwp-automation-completions-completed,
.automatorwp-automation-status-active {
    background: #46b450;
    color: #fff;
}

.automatorwp-automation-status-inactive {
    background: #dc3232;
    color: #fff;
}

.wp-list-table.automatorwp_automations .column-triggers .automatorwp-integration-icon,
.wp-list-table.automatorwp_automations .column-actions .automatorwp-integration-icon {
    display: inline-block;
    width: 22px;
    max-width: 22px;
    max-height: 22px;
    height: 22px;
    border-radius: 4px;
    margin-bottom: 2px;
    vertical-align: middle;
}

/* -------------------------------------------
    Logs Edit Screen
   ------------------------------------------- */
.automatorwp-log-title-preview .automatorwp-integration-icon {
    float: left;
    margin-right: 6px;
    width: 30px;
    max-width: 30px;
    max-height: 30px;
    height: 30px;
}

#post-body .misc-pub-post-user:before {
    content: "\f110";
}

#post-body .misc-pub-post-user:before {
    font: normal 20px/1 dashicons;
    speak: none;
    display: inline-block;
    margin-left: -1px;
    padding-right: 3px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#post-body .misc-pub-post-user:before {
    color: #82878c;
}

#post-user-display {
    font-weight: 600;
}

#automatorwp_log_data .cmb-th,
#automatorwp_log_data .cmb-td {
    padding: 10px;
}

#automatorwp_log_data .cmb-th label {
    padding-top: 0px;
}

#automatorwp_log_data .cmb-type-title {
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    background: #f5f5f5;
    margin: 5px -12px;
}

#automatorwp_log_data .cmb-type-title .cmb-td {
    padding: 10px 20px;
}

#automatorwp_log_data .cmb-type-title .cmb2-metabox-title,
#automatorwp_log_data .cmb-type-title .cmb2-metabox-description {
    padding: 0;
    margin: 0;
}

/* Logs list screen */
.wp-list-table.automatorwp_logs .column-title .automatorwp-integration-icon {
    float: left;
    margin-right: 6px;
    width: 40px;
    max-width: 40px;
    max-height: 40px;
    height: 40px;
    margin-top: 1px;
}

/* -------------------------------------------
    Field Required
   ------------------------------------------- */
.automatorwp-field-required {
    color: #dc3232;
    font-weight: 700;
    font-size: 18px;
    line-height: 0;
}

/* -------------------------------------------
    Spinner
   ------------------------------------------- */
.automatorwp-spinner {
    float: right;
}

.automatorwp-spinner .spinner {
    float: none;
}

.automatorwp-spinner .spinner-label {
    display: inline-block;
    float: right;
    font-size: 14px;
    margin-top: 3px;
    color: #72777c;
}

/* -------------------------------------------
    Buttons
   ------------------------------------------- */
.button.automatorwp-button-success {
    background: #46b450;
    border: #46b450;
    color: #fff;
}

.button.automatorwp-button-success:hover {
    background: #40a549;
    border: #40a549;
    color: #fff;
}

.button.automatorwp-button-success:focus,
.button.automatorwp-button-success:active {
    background: #399341;
    border: #399341;
    color: #fff;
}

.button.automatorwp-button-danger {
    background: #e15151;
    border: #e15151;
    color: #fff;
}

.button.automatorwp-button-danger:hover {
    background: #de3b3b;
    border: #de3b3b;
    color: #fff;
}

.button.automatorwp-button-danger:focus,
.button.automatorwp-button-danger:active {
    background: #da2525;
    border: #da2525;
    color: #fff;
}

.button.automatorwp-cancel-option-form {
    line-height: 32px;
}

.automatorwp-add-trigger,
.automatorwp-add-action {
    font-size: 14px;
    line-height: 32px;
}

.automatorwp-add-trigger .dashicons,
.automatorwp-add-action .dashicons {
    line-height: 32px;
    opacity: 0.8;
    margin-right: 4px;
    margin-left: -4px;
}

/* -------------------------------------------
    Notices
   ------------------------------------------- */
.automatorwp-notice-info,
.automatorwp-notice-warning,
.automatorwp-notice-error,
.automatorwp-notice-success {
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.automatorwp-notice-info {
    color: #007cba;
    background: #d9f1fd;
}

.automatorwp-notice-warning {
    color: #a27806;
    background: #fff0c9;
}

.automatorwp-notice-error {
    color: #dc3232;
    background: #ffdddd;
}

.automatorwp-notice-success {
    color: #269630;
    background: #d6fdd1;
}


/* -------------------------------------------
    Tooltip
   ------------------------------------------- */
.automatorwp-tooltip {
    position: absolute;
    right: -4px;
    top: 6px;
    cursor: help;
}

.automatorwp-tooltip .dashicons {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

/* Desktop */
@media screen and (min-width: 768px) {
    .automatorwp-has-tooltip .cmb2-metabox-description:not(.automatorwp-tooltip-dialog) {
        display: none !important;
    }

    .cmb2-metabox-description.automatorwp-tooltip-dialog {
        position: absolute;
        top: -4px;
        right: 25px;
        left: -25px;
        z-index: 9999;
        padding: 10px !important;
        font-style: normal !important;
        border-radius: 4px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        background: #000;
        color: #fff !important;
    }

    .cmb2-metabox-description.automatorwp-tooltip-dialog:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        border-left: 8px solid #000;
        right: -7px;
        top: 14px;
    }

    .automatorwp-has-tooltip .cmb-td {
        position: relative;
    }

    #post-body.columns-2 #postbox-container-1 .automatorwp-has-tooltip input,
    #post-body.columns-2 #postbox-container-1 .automatorwp-has-tooltip select,
    #post-body.columns-2 #postbox-container-1 .automatorwp-has-tooltip .automatorwp-select2,
    .automatorwp-has-tooltip input,
    .automatorwp-has-tooltip select {
        width: calc( 100% - 25px ) !important;
    }

    #post-body.columns-2 #postbox-container-1 .automatorwp-has-tooltip .automatorwp-select2 .select2-search--inline .select2-search__field {
        width: 100% !important;
    }
}

/* Smartphone */
@media screen and (max-width: 768px) {
    .automatorwp-has-tooltip .automatorwp-tooltip {
        display: none;
    }
}

/* -------------------------------------------
    Options List
   ------------------------------------------- */
.cmb2-metabox-description + .automatorwp-toggleable-options-list {
    color: #757575;
    font-style: italic;
    margin-top: 5px;
}

.cmb2-metabox-description + .automatorwp-toggleable-options-list code {
    color: #444;
    font-weight: 600;
}

/* -------------------------------------------
    Fields Table
   ------------------------------------------- */
.automatorwp-fields-table .inside {
    overflow: inherit !important;
}

.automatorwp-fields-table .cmb-row {
    border-bottom: 0;
}

.automatorwp-fields-table .cmb-repeatable-grouping > .cmb-remove-group-row,
.automatorwp-fields-table .cmb-repeatable-grouping > .cmbhandle,
.automatorwp-fields-table .cmb-repeatable-grouping:not(:nth-child(2)) > .cmb-group-title {
    display: none;
}

.automatorwp-fields-table .cmb-repeatable-grouping .cmb-group-title {
    border-bottom: 1px solid #ccd0d4;
    background: #fff;
    margin: 0 !important;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}

.automatorwp-fields-table .cmb-repeatable-grouping {
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 4px 4px 0 0;
}

.automatorwp-fields-table .cmb-repeatable-grouping:not(:nth-child(2)) {
    border-top: 0 !important;
}

.automatorwp-fields-table .cmb-repeatable-grouping .cmb-field-list {
    display: flex;
    background: #f5f5f5;
}

.automatorwp-fields-table .cmb-repeatable-grouping .cmb-field-list .cmb-row:not(.cmb-remove-field-row) {
    width: 50%;
}

.automatorwp-fields-table .cmb-repeatable-grouping .cmb-field-list .cmb-row:not(:first-child) {
    border-left: 1px solid #ccd0d4 !important;
}

.automatorwp-fields-table .cmb-repeatable-grouping .cmb-field-list .cmb-row {
    padding: 10px 10px;
    margin: 0;
}

.automatorwp-fields-table .cmb-repeatable-grouping:not(:nth-child(2)) .cmb-field-list .cmb-th {
    display: none;
}

.automatorwp-fields-table .cmb-repeatable-grouping:nth-child(2) .cmb-field-list .cmb-th {
    margin-top: -52px;
    margin-left: -11px;
    padding: 8px 0 8px 12px;
}

.automatorwp-fields-table .cmb-repeatable-grouping:nth-child(2) .cmb-field-list .cmb-row:not(:first-child) .cmb-th {
    border-left: 1px solid #ccd0d4 !important;
}

.automatorwp-fields-table .cmb-repeatable-grouping .cmb-field-list .cmb-td {
    width: 100%;
}

/* Fields table remove button */
.automatorwp-fields-table .cmb-repeatable-grouping .cmb-field-list .cmb-row.cmb-remove-field-row .cmb-remove-group-row-button {
    color: #72777c;
    border: none;
    background: transparent;
    padding: 8px 0;
}

.automatorwp-fields-table .cmb-repeatable-grouping .cmb-field-list .cmb-row.cmb-remove-field-row .cmb-remove-group-row-button:hover {
    color: #444;
}

/* Fields table add button */
.automatorwp-fields-table .cmb-repeatable-group > .cmb-row:last-child {
    background: #fff;
    border: 1px solid #ccd0d4 !important;
    border-top: 0 !important;
    padding: 8px 10px;
    margin-bottom: 15px;
    border-radius: 0 0 4px 4px;
}

.automatorwp-fields-table .cmb-repeatable-group > .cmb-row:last-child .cmb-add-row {
    margin: 0;
}

.automatorwp-fields-table .cmb-repeatable-group > .cmb-row:last-child .cmb-add-group-row {
    font-size: 12px;
    min-height: 20px;
}

/* -------------------------------------------
    Dialog
   ------------------------------------------- */
.automatorwp-dialog {
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background: #fff;
    padding: 15px;
    font-size: 14px;
    z-index: 999999;
}

.automatorwp-dialog + .ui-widget-overlay {
    opacity: 0.7;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

.automatorwp-dialog .ui-dialog-title {
    display: none;
}

.automatorwp-dialog h2 {
    margin-top: 0;
}

.automatorwp-dialog .button {
    font-size: 14px;
}

.automatorwp-dialog .button + .button {
    margin-left: 4px;
}

/* Dialog close button */
.automatorwp-dialog .ui-dialog-titlebar-close {
    float: right;
    border: none;
    background: transparent;
    color: #72777c;
    margin-top: -10px;
    margin-right: -14px;
    cursor: pointer;
}

.automatorwp-dialog .ui-dialog-titlebar-close:hover {
    color: #444;
}

.automatorwp-dialog .ui-dialog-titlebar-close:before {
    content: "\f335";

    font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in;
}

.automatorwp-dialog .ui-dialog-titlebar-close .ui-button-text {
    display: none;
}

/* -------------------------------------------
    Add-ons
   ------------------------------------------- */

.automatorwp_page_automatorwp_add_ons .wp-filter {
    margin-bottom: 0;
}

.automatorwp_page_automatorwp_add_ons .wp-filter a:hover,
.automatorwp_page_automatorwp_add_ons .wp-filter a:focus {
    box-shadow: none;
}

.automatorwp_page_automatorwp_add_ons .wp-filter a .dashicons {
    vertical-align: bottom;
}

.automatorwp-add-ons,
.automatorwp-assets {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 100%;
}

.automatorwp-plugin-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 100%;

    margin-left: 0;
    margin-right: 0;
}

.automatorwp-plugin-card .plugin-card-top {
    width: 100%;
}

.automatorwp-plugin-card .plugin-card-bottom {
    width: 100%;
    align-self: flex-end;
}

.automatorwp-plugin-card .name, .automatorwp-plugin-card .desc {
    margin-left: 0;
    margin-right: 0;
}

.automatorwp-plugin-card .thumbnail {
    margin: -20px -20px 10px;
}

.automatorwp-plugin-card .thumbnail a {
    display: block;
    line-height: 0;
}

.automatorwp-plugin-card .thumbnail a img {
    max-width: 100%;
}

.automatorwp-plugin-card .action-links {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}

.automatorwp-plugin-card .action-links .plugin-action-buttons {
    float: none;
    margin: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    -webkit-align-items: center;
    align-items: center;
}

.automatorwp-plugin-card .action-links .plugin-action-buttons li {
    margin: 0;
    width: 50%;
}

.automatorwp-plugin-card .action-links .plugin-action-buttons li .more-details {
    float: left;
}

.is-automatorwp-plugin#plugin-information #plugin-information-content .notice {
    display: none;
}

@media screen and (min-width: 1600px) {
    .automatorwp-plugin-card {
        width: 25%;
        width: -webkit-calc( 25% - 16px );
        width: calc( 25% - 16px );
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .automatorwp-plugin-card {
        width: 33.3333%;
        width: -webkit-calc( 33.3333% - 16px );
        width: calc( 33.3333% - 16px );
    }
}

@media screen and (min-width: 1200px) {
    .automatorwp-add-ons,
    .automatorwp-assets {
        margin-left: -8px;
        margin-right: -8px;
    }

    .automatorwp-plugin-card {
        margin-left: 8px !important;
        margin-right: 8px !important;
    }
}

/* -------------------------------------------
	Settings
   ------------------------------------------- */

.automatorwp-page.cmb2-options-page {
    max-width: 100%;
}

.automatorwp-page.cmb2-options-page .cmb2-metabox > .cmb-row {
    border: none;
    box-shadow: none;
}

.automatorwp-page .postbox .hndle {
    justify-content: flex-start;
    font-size: 16px;
}

.automatorwp-page .postbox .hndle .dashicons {
    height: 18px;
    line-height: 18px;
    margin-right: 5px;
}

.automatorwp-page .postbox .handle-actions {
    display: none;
}

.automatorwp_settings input[name="submit-cmb"] {
    float: left;
    margin-right: 12px;
}

.automatorwp-page .nav-tab .dashicons {
    vertical-align: text-bottom;
    margin-right: 2px;
}

.automatorwp-page > h2 {
    margin-bottom: 0 !important;
}

/* -------------------------------------------
	Licensing Settings
   ------------------------------------------- */

.automatorwp_licenses .meta-box-sortables {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.automatorwp_licenses .handlediv,
.automatorwp_page_automatorwp_licenses #screen-options-link-wrap {
    display: none !important;
}

.automatorwp_licenses .postbox.closed .inside {
    display: block !important;
}

.automatorwp_licenses .postbox {
    width: 100%;
    margin: 0 8px 16px;
}

.automatorwp_licenses .automatorwp-license-thumbnail {
    margin: -6px -12px 0;
}

.automatorwp_licenses .automatorwp-license-thumbnail img {
    width: 100%;
}

.automatorwp_licenses .cmb-row {
    border: none;
    padding-bottom: 0;
}

.automatorwp_licenses .cmb2-metabox > .cmb-row:not(:first-of-type) {
    border: none !important;
}

.automatorwp_licenses .cmb-th,
.automatorwp_licenses .cmb-td {
    width: 100%;
    padding: 6px 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.automatorwp_licenses .cmb-td input {
    width: 100%;
}

.automatorwp_licenses .license-expiration-notice,
.automatorwp_licenses .renew-license-notice {
    display: inline;
}

.automatorwp_licenses .license-error {
    color: #a00;
}

.automatorwp_licenses .renew-license-notice:before {
    content: ' '; /* Add a space between expiration and renew notices */
}

@media screen and (min-width: 1600px) {

    .automatorwp_licenses .postbox {
        width: 23%;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .automatorwp_licenses .postbox {
        width: 31%;
    }
}

/* -------------------------------------------
    Review Notice
   ------------------------------------------- */
.automatorwp-review-notice {
    position: relative;
    background: #222;
    color: #fff;
    border: none;
}

.automatorwp-review-notice p span {
    opacity: 0.7;
}

.automatorwp-review-notice .button-primary {
    background: #febd17;
    border-color: #fdc63a #926d10 #926d10;
    box-shadow: 0 1px 0 #926d10;
    text-decoration: none;
    text-shadow: none;
    color: #444;
    font-weight: 500;
}

.automatorwp-review-notice .button-primary.hover,
.automatorwp-review-notice .button-primary:hover,
.automatorwp-review-notice .button-primary.focus,
.automatorwp-review-notice .button-primary:focus {
    background: #f3b415;
    border-color: #fdc63a #926d10 #926d10;
    color: #444;
}

.automatorwp-review-notice .button-primary.focus,
.automatorwp-review-notice .button-primary:focus {
    box-shadow: 0 1px 0 #febd17,
    0 0 2px 1px #fdc63a;
}

.automatorwp-review-notice .button-primary.active,
.automatorwp-review-notice .button-primary.active:hover,
.automatorwp-review-notice .button-primary.active:focus,
.automatorwp-review-notice .button-primary:active {
    background: #f3b415;
    border-color: #926d10;
    box-shadow: inset 0 2px 0 #926d10;
    vertical-align: top;
}

.automatorwp-review-notice .automatorwp-hide-review-notice.button {
    color: #353849;
    border-color: #353849;
}

.automatorwp-review-notice .automatorwp-hide-review-notice.button:hover {
    color: #3b4eb7;
    border-color: #3b4eb7;
}

.automatorwp-review-notice ul li {
    display: inline-block;
    margin-right: 10px;
}

.automatorwp-review-notice .automatorwp-hide-review-notice:not(.button) {
    color: #ccc;
}

.automatorwp-review-notice .automatorwp-hide-review-notice:not(.button):hover {
    color: #fff;
}

.automatorwp-review-notice .automatorwp-logo {
    background-image: url('../img/automatorwp-logo.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 15px auto 0 auto;
}

/* Desktop */
@media screen and (min-width: 768px) {
    .automatorwp-review-notice .automatorwp-logo {
        float: left;
        margin: 20px 20px 20px 5px;
    }
}